@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

/* 共通部分
------------------------------- */
::-webkit-scrollbar {
	display: none;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	font-family: "Darumadrop One";
	line-height: 1.7;
	color: rgb(255, 255, 255);
	background-color: #FFC300;
}

a {
	text-decoration: none;
}
a:link,
a:visited {
	color: white;
}

img {
	max-width: 100%;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 1em 1.5em;
}

main {
	flex: 1;
	/* ← 余った縦幅を全部ここに割り当てる */
	display: flex;
	align-items: center;
	margin: 8px;
}

footer {
	text-align: center;
	margin-top: auto;
	/* ← 常に下に固定される */
	position: static;
	/* ← absolute をやめる */
}

nav#menu ul {
	list-style: none;
	display: flex;
	gap: 1em;
	font-size: 2em;
}

/* ---------- */
/* index */
/* ---------- */
#index {
	background-image: url(../img/bk_top.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.keyvis {
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------- */
/* about */
/* ---------- */
#about {
	background-image: url(../img/bk_about.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

#about .box {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about_l {
	/* background-color: rgba(240, 248, 255, 0.354); */
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_thum {
	width: 40vw;
	text-align: center;
}

.about_r {
	/* background-color: rgba(76, 155, 225, 0.293); */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about h2 {
	font-size: 5em;
	letter-spacing: 3px;
}

#about ul {
	list-style-position: inside;
	font-size: 1.5em;
}

/* ---------- */
/* gallery */
/* ---------- */
#gallery {
	background-image: url(../img/bk_gallery.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}


/* ---------- */
/* contact */
/* ---------- */
#contact {
	background-image: url(../img/bk_contact.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}


/* ―――――――――――――――――――― */
/* スマホ対応 */
/* ―――――――――――――――――――― */
@media screen and (max-width:1045px) {
	#about main {
		grid-template-columns: 1fr;
		align-content: center;
		gap: 14px;
	}
	.about_huki {
		text-align: center;
	}
	#about h2 {
		text-align: center;
		font-size: 3em;
	}
	#about ul {
		margin: 0 auto;
		font-size: 1em;
	}
}